/* src/CSS/ViewLearningPlan.css */
.view-learning-plan-container {
    margin-top: 50px;
    padding: 20px;
  }
  
  .view-learning-plan-title {
    font-size: 2rem;
    color: #333;
  }
  
  .view-learning-plan-details {
    margin-top: 30px;
  }
  